@{
    ViewData["Title"] = "Home Page";
}

<br />
<div class="input-group input-group-lg">
    <span class="input-group-addon" id="sizing-addon1">+</span>
    <input id="searchJobs" type="text" class="form-control" placeholder="Search for Jobs" aria-describedby="sizing-addon1">
</div>
